{% extends 'user/basee.html' %}

{% load widget_tweaks %}

{% block content %}
<div class="card mx-auto" style="width: 40rem;">
    <!-- <img src="..." class="card-img-top" alt="..."> -->
    <div class="card-body">

        <h5 class="card-title mb-3"> Hey there, Register as a Customer! </h5>
        <form method="POST">
            {% csrf_token %}
            <div class="mb-3">
                <label for="exampleInputEmail1" class="form-label">Email</label>
                <input type="email" name="email" class="form-control" id="exampleInputemail1">
                {% render_field form.email class="form-control" %}
            </div>

            <div class="mb-3">
                <label for="exampleInputEmail1" class="form-label">Username</label>
                <input type="name" name="name" class="form-control" id="exampleInputname1">
                {% render_field form.username class="form-control" %}
            </div>

            <div class="mb-3">
                <label for="exampleInputEmail1" class="form-label">Password</label>
                <input type="password" name="password" class="form-control" id="exampleInputpassword1">
                {% render_field form.password1 class="form-control" %}
            </div>

            <div class="mb-3">
                <label for="exampleInputEmail1" class="form-label">Confirm Password</label>
                <input type="password" name="password" class="form-control" id="exampleInputeconfirm1">
                {% render_field form.password2 class="form-control" %}
            </div>

            <button class="btn btn-primary">Submit</button>
        </form>
        <!-- <p class="card-text">Some quick example text to build on the card title and make up the bulk card's content.</p>
            <a href="#" class="btn btn-primary">Go somewhere</a> -->
    </div>
</div>

{% endblock content %}